img {
    height: 60px;
    width: 60px;
    }
    #detailimg1 img { height: 500px;
        width: 500px; } 
        #detailimg2 img { height: 20px;
            width: 22px; }
            #bodyppty{
                height: 700px;
                position: relative;
                left: 10px;
            }